body {
    background: rgb(103, 75, 175);
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Open-Sans', sans-serif;
    color: #ffffff;
    font-weight: 100; 
}

footer {
    color: #ffffff;
}

button {
    background-color: #ffffff;
    border-radius: 25em;
    padding: 1em 6em 1em 6em;

    /* Font */
    font-family: 'Open-Sans', sans-serif;
    color: rgb(103, 75, 175);
    font-size: 1em;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-repeat: no-repeat;
    }

    header img {
        width: 8em;
        padding: 1em;
    }
    
    .mockup img {
        max-width: 100%;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        line-height: 1.5em;
    }

    .middle {
        text-align: center;
        padding: 2em 1em 2em 1em;
    }

    footer {
        text-align: center;
        font-size: 2em;
    }
}