body {
    background: rgb(103, 75, 175);
    background-image: url(/images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

header img {
    width: 8em;
    padding: 1em;
}

.mockup img {
    max-width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.5em;
    font-family: 'Open-Sans', sans-serif;
    color: #ffffff;
    font-weight: 100;
}

.middle {
    text-align: center;
    padding: 2em 1em 2em 1em;
}

button {
    background-color: #ffffff;
    border-radius: 25em;
    padding: 1em 6em 1em 6em;
    box-shadow: 0em 0.2em 0.5em 0em #333333;
    font-weight: 100;
    /* Font */
    font-family: 'Open-Sans', sans-serif;
    color: rgb(103, 75, 175);
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 5em 0 1em 0;
}

footer a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}

footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {}